.text {
    font-family: var(--docupotamus-font-family);
}

.textBody {
    color: var(--cm-color-base);
    font-size: var(--font-size-0);
    font-weight: var(--docupotamus-body-font-weight);
    line-height: 1.2;
    margin-bottom: var(--space-xs);
}
