.Shortcut_card {
    opacity: 0;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: fade-in;

    /* transform: scale(0.5);
    animation-delay: calc(0.09s * var(--animation-order));
    animation-duration: 0.4s;
    animation-name: slide-in-from-center;
    animation-timing-function: cubic-bezier(.6, -0.3, .2, 1.7);
    animation-timing-function: cubic-bezier(0, 0.4, .3, 2); */
}

.Shortcuts_entry__wheel {
    translate: var(--translate);
}

.Shortcuts_entry__wheel:nth-of-type(1) {
    /* --animation-order: 0; */
    --translate: 0 -85%;
}

.Shortcuts_entry__wheel:nth-of-type(2) {
    /* --animation-order: 1; */
    --translate: 130% -35%;
}

.Shortcuts_entry__wheel:nth-of-type(3) {
    /* --animation-order: 2; */
    --translate: 70% 85%;
}

.Shortcuts_entry__wheel:nth-of-type(4) {
    /* --animation-order: 3; */
    --translate: -70% 85%;
}

.Shortcuts_entry__wheel:nth-of-type(5) {
    /* --animation-order: 4; */
    --translate: -130% -35%;
}

.text__multilineTruncate {
    --max-line-count: 4;

    display: -webkit-box;
    -webkit-line-clamp: var(--max-line-count);
            line-clamp: var(--max-line-count);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

/* @keyframes slide-in-from-center {
    100% {
        opacity: 1;
        transform: scale(1.0);
        translate: var(--translate);
    }
} */
