@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');

:root {
    /* --ifm-color-white */
    --docupotamus-color-grey-800-rgb: 255, 255, 255;
    --docupotamus-color-grey-800: rgb(var(--docupotamus-color-grey-800-rgb));

    --docupotamus-font-family: 'Karla', sans-serif;
    --docupotamus-font-size: var(--font-size--1);

    --docupotamus-heading-font-weight: 600;
    --docupotamus-body-font-weight: 200;
}

html[data-theme='light'],
html[data-theme='dark'] {
    /* Color */
    --cm-color-base: var(--ifm-color-white);
    --cm-color-base-darker: var(--ifm-color-gray-300);

    --cm-color-background-lightest-hsl: 0, 0%, 86%; /* rgb(220, 220, 220) */
    --cm-color-background-lighter-hsl: 220, 20%, 20%; /* rgb(41, 48, 62) */
    --cm-color-background-hsl: 219, 40%, 11%; /* rgb(17, 25, 40) */

    --cm-color-background-lightest:
        hsl(var(--cm-color-background-lightest-hsl));
    --cm-color-background-lighter: hsl(var(--cm-color-background-lighter-hsl));
    --cm-color-background: hsl(var(--cm-color-background-hsl));

    --cm-color-background-hover-hsl: 219, 40%, 22%;
    --cm-color-background-hover: hsl(var(--cm-color-background-hover-hsl));

    /* Typography */
    --cm-font-family-monospace:
        'Overpass Mono', var(--ifm-font-family-monospace);

    /* Components */
    --cm-annotater-color: var(--ifm-color-content-inverse);
    --cm-annotater-color-background: var(--ifm-color-content);
    --cm-entry-color: var(--ifm-color-content);
    --cm-entry-color-background: var(--ifm-color-content-inverse);
    --cm-entry-gradient-color-background:
        hsla(var(--ifm-color-primary-light-hsl), 0.7);

    /* Material UI (MUI) */
    --cm-ripple-color-background: hsla(var(--ifm-color-white-hsl), 0.5);
}

/* Warning: This is deprecated. */
h1.ifm_text__reset,
h2.ifm_text__reset,
h3.ifm_text__reset,
h4.ifm_text__reset,
h5.ifm_text__reset,
h6.ifm_text__reset,
p.ifm_text__reset {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
