.MuiTouchRipple_childOverride {
    /* TODO(dnguyen0304): Investigate if this can be done without !important. */
    background-color: var(--command-menu-ripple-color-background) !important;
}

.Event_heading {
    color: var(--ifm-color-gray-100);
    letter-spacing: 2px;
    margin: 0;
}

.Event_timestamp {
    color: hsla(var(--ifm-color-white-hsl), 0.8);
    font-size: var(--font-size--1);
    font-style: italic;
    margin: 0;
    white-space: nowrap;
}

.Event_body {
    color: var(--ifm-color-gray-200);
}
