.MuiTouchRipple_childOverride {
    /* TODO(dnguyen0304): Investigate if this can be done without !important. */
    background-color: hsla(var(--ifm-color-white-hsl), 0.5) !important;
}

.Event_heading {
    color: var(--ifm-color-gray-100);
    letter-spacing: 2px;
    margin: 0;
}

.Event_timestamp {
    color: rgba(var(--docupotamus-color-grey-800-rgb), 0.8);
    font-size: var(--font-size--1);
    font-style: italic;
    white-space: nowrap;
}
