.MuiTouchRipple_childOverride {
    /* TODO(dnguyen0304): Investigate if this can be done without !important. */
    background-color: var(--cm-ripple-color-background) !important;
}

.Event_heading {
    letter-spacing: 2px;
    margin: 0;
}

.Event_timestamp {
    --color-base-dimmer: hsla(var(--cm-color-base-hsl), 0.8);

    color: var(--color-base-dimmer);
    font-size: var(--d9s-font-size--1);
    font-style: italic;
    margin: 0;
    white-space: nowrap;
}

.Event_body {
    color: var(--cm-color-base-darker);
}
