.text {
    font-family: var(--docupotamus-font-family);
}

.textBody {
    color: var(--docupotamus-color-grey-800);
    font-size: var(--docupotamus-font-size);
    font-weight: var(--docupotamus-body-font-weight);
    line-height: 1.2;
    margin-bottom: var(--space-xs);
}
