.Tooltip {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    z-index: calc(var(--ifm-z-index-fixed) + 1);

    display: flex;
    align-items: center;

    background: #333;
    border-radius: 3px;
    padding: 6px 10px;
    transition: 0.2s all;
}

.Tooltip:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
}
