.Tooltip {
    padding: 6px 10px;
    background: #333;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    transform: translate(-50%, -100%);
    transition: 0.2s all;
    display: flex;
    align-items: center;
}

.Tooltip:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
}

.Button {
    display: flex;

    color: white;
    cursor: pointer;
    padding: 0;
}
