.Tooltip {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    z-index: calc(var(--ifm-z-index-fixed) + 1);

    display: flex;
    align-items: center;

    background-color: var(--docupotamus-color-grey-100);
    border-radius: 8px;
    padding: 6px 10px;
    transition: 0.2s all;
}

.Tooltip:after {
    content: '';
    width: 0;
    height: 0;

    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    border-top: 6px solid var(--docupotamus-color-grey-100);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
